@font-face {
	font-family: 'iconfont';
	src: url('../font/iconfont.eot');
	src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
	url('../font/iconfont.woff') format('woff'),
	url('../font/iconfont.ttf') format('truetype'),
	url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
	font-family:"iconfont" !important;
	font-size:16px;font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
.clear:after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	clear: both;
}
.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,
.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{

		float: left;
		margin-bottom: 20px;
		padding-left: 15px;
		padding-right: 15px;
		box-sizing:border-box;/*(改变盒子模型)*/

}
.col-lg-none{
	display: none!important;
}
.col-lg-inblock{
	display: inline-block!important;
}
.col-lg-4{
		width: 33.333333%;
	}
nav{
	height: 60px;
	background: rgba(17, 17, 17, 0.5);
	position: fixed;
	top:0px;
	left:0;
	z-index: 1000;
	width:100%;
	transition:all 1s;
}
.neikuan{
	width: 980px;
	margin: 0 auto;
}
nav>ul{
	width: 80%;
	height: 60px;
	margin: 0 auto;
}
nav>ul>a{
	font-size: 14px;
	color: #fff;
	line-height: 60px;
	float: right;
	margin-right: 25px;
	margin-left: 20px;
	cursor: pointer;
}
nav>ul>a.active{
	text-decoration: underline;
	color: #82f3ff;
}
nav>ul>a:hover{
	text-decoration: underline;
}
nav>ul>span{
	font-size: 18px;
	color: #fff;
	line-height: 60px;
	float: left;
	margin-left: 80px;
}
.bannerArea{
	position: relative;
	width: 100%;
	height: 100%;
	background-image: url(../img/banner.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size:cover;
	z-index:1000;
}
.bannerBox{
	width: 100%;
	height: 100%;
}
.bannerqu{
	width: 100%;
	height:100%;
	background: rgba(0,0,0,0.5);
}
.banner_jieshao{
	position: absolute;
	top: 200px;
	left: 0;
	right: 0;
	margin: auto;
	width: 800px;
	opacity: 1;
	align-items: center;
}
@keyframes banner_zi1 {
	0%{
		font-size: 0px;
		width: 0px;
		opacity: 0;
	}
	50%{
		font-size: 15px;
		width:250px;
		opacity: 0.5;
	}
	100%{
		font-size: 30px;
		width:500px;
		opacity: 1;
	}
}
.banner_jieshao>p{
	margin-top: 20px;
	text-align: center;
	font-size: 0px;
	color: #fff;
	opacity: 0;
	/*animation: banner_zi1 1s ease-in-out;*/
}
.banner_jieshao>i{
	/*text-align: center;*/
	/*position: absolute;*/
	/*top:70px;*/
	/*left:0;*/
	/*right:0;*/
	/*margin: auto;*/
	margin-top: 10px;
	font-size: 0px;
	color: #fff;
	opacity: 0;
}
.banner_jieshao>span{
	/*text-align: center;*/
	/*position: absolute;*/
	/*top:120px;*/
	/*left:0;*/
	/*right:0;*/
	/*margin: auto;*/
	margin-top: 20px;
	font-size: 0px;
	color: #fff;
	opacity: 0;
}
.banner_self{
	position: absolute;
	bottom: -430px;
	left:0;
	right:0;
	margin: auto;
	width: 80%;
	height: 30px;
	transition: all 1.5s ease-in-out;
}
.banner_self>li{
	width:33.333333%;
	height:100%;
	float: left;
	color: #fff;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	letter-spacing: 4px;
}
.bannerjiantou{
	position: absolute;
	bottom: 30px;
	left:0;
	right:0;
	margin: auto;
	z-index:10000;
	font-size: 40px;
	color: #fff;
	text-align: center;
	cursor: pointer;
}
.aboutBox{
	padding: 60px 0;
	box-sizing: border-box;
	position: relative;
	text-align: center;
}
.aboutBox>h3{
	color: #333;
}
.aboutBox>img{
	width: 140px;
	height:140px;
	border-radius: 50%;
	position: absolute;
	top:-280px;
	left:0;
	right:0;
	margin: auto;
	opacity: 0;
}
.aboutBox>p{
	position: absolute;
	margin: auto;
	font-size: 14px;
	line-height: 27px;
	color: #333;
	margin: 10px 0px;
}
.jieshao{
	left:-5000px;
	top:380px;
}
.aboutBox>p:last-child{
	right:-5000px;
	top:460px;
}
.section:nth-child(5){
	background: url("../img/11.jpeg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size:cover;
}
.section:nth-child(3){
	background: url("../img/skillsbg.jpg");
	background-repeat: no-repeat;
	background-size: 120% 120%;
}
.skillbox{
	padding: 60px 0;
	box-sizing: border-box;
	position: relative;
}
h3{
	color: #fff;
	font-size: 36px;
	text-align: center;
}
.line{
	display: block;
	background-color: #56b2e6;
	width: 65px;
	height: 3px;
	margin: 12px auto;
}
.skill_left{
	width:45%;
	height: 0;
	overflow: hidden;
	position: absolute;
	top:200px;
	left:0;
}
.skill_left>h4{
	color: #fff;
	font-size: 23px;
	text-align: left;
}
.skill_left>p{
	font-size: 14px;
	line-height: 27px;
	color: #d0d0d0;
	margin: 23px 0px;
}
.skills-right{
	position: absolute;
	top:200px;
	right:0;
	width: 45%;
}
.skills-right>p{
	font-size: 18px;
	color: #e8e8e8;
	margin-bottom: 8px;
}
.skill_html{
	width: 100%;
	height:10px;
	background: #fff;
	position: relative;
	margin-bottom: 35px;
	border-radius: 5px;
}
.skill_html_t{
	position: absolute;
	top:0;
	left:0;
	width: 0;
	height:100%;
	border-radius: 5px;
	background: #4db2f6;
	transition: all 2s;
}
.skill_css{
	width:0%;
}
.skill_js{
	width: 0%;
}
.skill_jq{
	width: 0%;
}
.skill_html>i{
	position: absolute;
	top:10px;
	left:0;
	font-size: 16px;
	color: #ccc;
}
.skill_html>span{
	position: absolute;
	top:10px;
	right:-15px;
	font-size: 16px;
	color: #ccc;
}
.skill_html_bl{
	position: absolute;
	top:-25px;
	left:-20px;
	width: 40px;
	height:20px;
	border-radius: 2px;
	background: #000;
	color: #fff;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
	transition: all 2s;
}
.skill_html_xk{
	position: absolute;
	bottom: -3px;
	right:0;
	left:0;margin: auto;
	width: 7px;
	height: 7px;
	transform: rotate(45deg);
	background: #000;
}
.zuopinqu{
	width: 100%;
	height:100%;
}
.zuopinArea{
	height:100%;
	width: 100%;
}
.zuopinBox{
	height:100%;
	width: 100%;
	position: relative;
}
.zuopin_biaoti{
	width: 100%;
	height: 60px;
	font-size:38px;
	color: #555;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	top: -300px;
	margin: auto;

}
.lines{
	display: block;
	position: absolute;
	top:-360px;
	right:0;
	left:0;
	margin: auto;
	background-color: #56b2e6;
	width: 65px;
	height: 3px;
}
.zuopin{
	position: absolute;
	top:160px;
	left:0;
	right:0;
	margin:auto;
	width: 100%;
	display: flex;
	justify-content:space-around;
	flex-wrap:wrap;
}
.zuopin>a {
	display: block;
	width: 30%;
	height: 200px;
	float: left;
	border: 1px solid #f1f1f1;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	transition: all 1s;
}
.zuopin>a:hover .border_top{
	width: 100%;
}
.zuopin>a:hover .border_left{
	height: 100%;
}
.zuopin>a:hover .border_bottom{
	 width: 100%;
 }

.zuopin>a:hover .border_right{
	height: 100%;
}

.border_top{
	position: absolute;
	background:#5b54dd;
	transition: all 1s;
	top:0;
	left:0;
	height: 1px;
	width:0;
}
.border_left{
	position: absolute;
	background:#5b54dd;
	transition: all 1s;
	top:0;
	left:0;
	height: 0px;
	width:1px;
}
.border_bottom{
	position: absolute;
	background: #5b54dd;
	transition: all 1s;
	bottom:0;
	right:0;
	height: 1px;
	width:0px;
}
.border_right{
	position: absolute;
	background:#5b54dd;
	transition: all 1s;
	bottom:0;
	right:0;
	height: 0px;
	width:1px;
}
.zuopinXq_tm_tu1{
	width: 100%;
	height:200px;
	display: none;
}
.zuopin_zhezhao{
	position: absolute;
	bottom:0;
	left:-300px;
	width: 100%;
	height:50px;
	font-size: 20px;
	color: #fff;
	line-height: 50px;
	text-align: center;
	background: rgba(0,0, 0, 0.7);

}
.zuopinXq_tm_zi{
	width: 30%;
	float: left;
	font-size: 12px;
	color: #666;
	padding-top: 50px;
}
.lianxiqu{
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.7);
}
.lianxiArea{
	position: relative;
	top:50px;
	height:80px;
	padding-bottom: 20px;	
}
.lianxiBox_biaoti{
	width: 100%;
	height: 60px;
	font-size: 28px;
	color: #fff;
	line-height: 60px;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 20px;
	margin: auto;
}
.lianxi{
	width: 100%;
	height:360px;
	padding-top: 100px;
	padding-bottom: 20px;
	padding-left: 25px;
	padding-right: 25px;
	box-sizing:border-box;
}
.lianxi_fangshi{
	width: 45%;
	height: 340px;
	padding: 15px;
	background: #fff;
	padding-left: 25px;
	padding-right: 25px;
	box-sizing:border-box;
	float: left;
	box-shadow:1px 1px 10px 0px #ccc;
}
.lianxi_fangshi .iconfont{
	color: #999;
	display: block;
	height:30px;
}
.lianxi_fangshi_zi{
	display: block;
	font-size: 16px;
	color: #999;
	cursor: pointer;
	height: 30px;
}
.lianxi_liuyan{
	width: 45%;
	float: right;
	height:400px;
}
.lianxi_liuyan1{
	width: 100%;
	height:60px;
	box-shadow:1px 1px 10px 0px #ccc;
	margin-bottom: 40px;
	position: relative;
}
.lianxi_liuyan1 input{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height:60px;
	border: 0;
	outline:none;
	font-size: 14px;
	color: #999;
	line-height: 60px;
}
.lianxi_liuyan2{
	width: 100%;
	height:135px;
	box-shadow:1px 1px 10px 0px #ccc;
	position: relative;
}
.lianxi_liuyan2 input{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height:135px;
	border: 0;
	font-size: 14px;
	color: #999;
	outline:none;
}
.dibuArea{
	width: 100%;
	background: #333;
	padding-right: 25px;
	padding-left: 25px;
	box-sizing:border-box;
}
.dibuBox{
	width: 100%;
	height: 50px;
	float: left;
	padding-top: 20px;
	border-bottom: 1px solid #222;
	font-size: 18px;
	color: #fff;
	line-height: 50px;
	text-align: center;
}
.dibuArea .neikuan ul li{
	width: 100%;
	height:50px;
	text-align: center;
	line-height: 40px;

	color: #fff;
	float: left;
	
}
/*中屏*/
@media screen and (max-width:1068px ){
	.col-md-none{
		display: none!important;
	}
	.col-md-inblock{
		display: inline-block!important;
	}
	.col-md-6{
		width: 50%;
	}
	.neikuan{
		width: 100%;
	}
	.bannerBox{
		width: 100%;
		height: 550px;
		background-image: url(../img/banner.jpg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover; 
	}
	.
	.bannerBox span{
		font-size: 32px;
		/*display: flex;
		justify-content:space-between;*/
	}
	.jinengXq{
		flex-wrap:wrap;
	}
	.jinengXq_neirong span{
		margin-right: 40px;

	}
	.jinengBox_biaoti{
		font-size: 24px;
	}
	.jinengXq_neirong{
		width: 50%;
	}

}
/*小屏*/
@media screen and (max-width:735px ){
	.col-sm-none{
		display: none!important;
	}
	.col-sm-inblock{
		display: inline-block!important;
	}
	.col-sm-12{
		width:  100%;
	}
	.bannerBox{
		width: 100%;
		height: 420px;
		background-image: url(../img/banner.jpg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover; 
	}
	.bannerBox span{
		font-size: 28px;
	}
	.jinengXq_neirong{
		width: 100%;
	}
	.guanyu{
		width: 100%;
	
	}
	.guanyu_me{
		width: 100%;
		margin-left: 170px;
		text-align: center;

	}
	.guanyu_zi{
		width: 100%;
	}
	.zuopinXq_tm_zi{
		width: 100%;
	}
	.guanyu_me{
		width: 50%;
	
	}
	.jinengXq_neirong span{
		margin-right: 50px;
	}
	.lianxi_fangshi{
		width: 100%;
		margin-bottom: 20px;
	}
	.lianxi_liuyan{
		width: 100%;
	}
}