@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.clear:after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	clear: both;
}
.header{
	width: 100%;
	height: 0.91rem;
	background: #007be3;
	position: fixed;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 10;
	/*position: relative;*/
}
.header ul{
	width: 100%;
	height: 0.91rem;
	display: flex;
	justify-content:space-between;
}
.header ul li{
	width: 20%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	padding-top: 0.26rem;
	box-sizing:border-box;
}
.header ul li a{
	font-size: 0.32rem;
	color: #fff;
}
.nav_lunbo{
	width: 100%;
	height: 0.04rem;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.nav_lunbo1{
	width: 20%;
	height: 100%;
	float: left;
	background-color:#007be3;
}
.nav_lunbo1:hover{
	background-color:#fff;
}
.nav_lunbo2{
	width: 20%;
	height: 100%;
	float: left;
	background-color:#fff;
}
.nav_lunbo2:hover{
	background-color:#007be3;
}
/*banner*/
.bannerArea{
	width: 100%;
	height: 4.3109rem;
	background-image: url(../img/banner.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.lunbo{
	width: 100%;
	height: 4rem;
	display: flex;
	justify-content:space-between;
	position: absolute;
	bottom: -1px;
}
.lunbo_1{
	width: 24.99%;
	height: 4px;
	float: left;
	background: #555;
}
.lunbo_1:hover{
	background-color: #ff8d12;
}
/*内容*/
.neirongArea{
	width: 100%;
	padding: 0.1rem 0.24rem 0;
	box-sizing:border-box;
	background-color: #f5f6fa;
}
.neirong_biaoti{
	width: 100%;
	height: 0.6348rem;
}
.neirong_biaoti a{
	font-size: 0.22rem;
	color: #000;
	line-height: 0.6348rem;
	font-weight: 600;
}
.neirong_biaoti i{
	width: 0.16rem;
	height: 0.2rem;
	font-size: 0.22rem;
}
.neirongBox{
	width: 100%;
	padding: 0.1rem 0.24rem 0;
	box-sizing:border-box;
	background-color: #fff;
}
.neirong_fenlei{
	width: 100%;
	height: 0.8rem;
	border: 1px solid #01b5ff;
	border-radius: 0.06rem;
	margin-bottom: 0.2rem;
	display: flex;
	justify-content:space-between;
}
.neirong_fenlei_1{
	width: 33.333333%;
	height: 100%;
	background-color: #01b5ff;
	border-radius: 0.06rem;
	text-align: center;
	position: relative;
}
.neirong_fenlei_1_1{
	width: 0.3rem;
	height: 0.3rem;
	transform:rotate(45deg);
	background-color: #01b5ff;
	position: absolute;
	left: 1rem;
	right: 0;
	bottom: -0.1rem;
}
.neirong_fenlei_1 a{
	font-size: 0.28rem;
	line-height: 0.8rem;
	color: #fff;
}
.neirong_fenlei_2{
	width: 33.333333%;
	height: 100%;
	border-radius: 0.06rem;
	text-align: center;
}
.neirong_fenlei_2 a{
	font-size: 0.28rem;
	line-height: 0.8rem;
	color: #000;
}
.neirong_xiagqing{
	width: 100%;
}
.neirong_xiagqing ul{
	width: 100%;
}
.neirong_xiagqing ul li{
	width: 100%;
	float: left;
	padding-top: 0.3078rem;
	padding-left: 0.1rem;
	box-sizing:border-box;
	border-bottom: 1px solid #b8b8b8;
	margin-bottom: 0.2rem;
}
.neirong_xiagqing_1{
	width: 100%;
	height: 0.35rem;
	float: left;
	margin-bottom: 0.14rem;
}
.neirong_xiagqing_sekuai{
	width: 4px;
	height: 20px;
	background-color: #01b5ff;
	float: left;
	margin-right: 5px;
	margin-top: 8px;
}
.neirong_xiagqing_1 p{
	font-size: 0.26rem;
	color: #333;

}
.neirong_xiagqing_2{
	width: 100%;
	height: 1.08rem;
	float: left;
	font-size: 0.2rem;
	color: #666;
}
.neirong_xiagqing_3{
	width: 100%;
	height: 0.5rem;
	float: left;
	font-size: 0.27rem;
	color: #ff9300;
	line-height: 0.5rem;
	text-align: center;
}

.neirong_bottom{
	width: 100%;
	height: 0.81906rem;
	margin-top: 0.15rem;
	padding: 0.16rem 0.28rem;
	box-sizing:border-box;
}
.neirong_bottom_zuo{
	width: 0.5119rem;
	height: 0.5119rem;
	float: left;
	margin-right: 0.16rem;
}
.neirong_bottom_shang{
	width: 1.5155rem;
	height: 0.5119rem;
	float: left;
	margin-right: 0.15rem;
}
.neirong_bottom_now{
	width: 1.43879rem;
	height: 0.5119rem;
	float: left;
	border: 1px solid #666;
	/*text-align: center;*/
	border-radius: 0.4rem;
}
.neirong_bottom_now_zi{
	width: 1.20879rem;
	height: 0.28707rem;
	font-size: 0.24rem;
	margin-top: 0.1rem;
	margin-left: 0.14rem;
	color: #000;
	text-align: center;
	/*line-height: 0.5119rem;*/
}
.neirong_bottom_you{
	width: 0.5119rem;
	height: 0.5119rem;
	float: right;
	margin-left: 0.16rem;
}
.neirong_bottom_xia{
	width: 1.5155rem;
	height: 0.5119rem;
	float: right;
}
/*版权*/
.banquanArea{
	width: 100%;
	height: 2.1488rem;
	padding: 0.1rem 0.24rem 0;
	box-sizing:border-box;
	background-color: #f5f6fa;
}
.banquan{
	width: 100%;
	height: 100%;
}
.banquan_zi{
	width: 100%;
	height: 0.24rem;
	margin-top: 0.20rem;
	font-size:0.2rem;
	color: #666666;
	text-align: center;
}
/*底部*/
.bottomArea{
	width: 100%;
	height: 0.92rem;
	background: #e7e7e7;
	display: flex;
	justify-content:space-between;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 1;
}
.bottom_shiting{
	width: 30%;
	height: 100%;
	float: left;
	text-align: center;
}
.bottom_shiting i{
	font-size: 36px;
	color: #000;
	float: left;
	margin-top: 0.25rem;
	margin-left: 0.40rem;
}
.bottom_shiting a{
	font-size: 26px;
	color: #000;
	float: left;
	margin-top: 0.25rem;
}
.bottom_zb{
	width: 3.0719rem;
	height: 0.92rem;
	background-color: #ff8d12;
	position: fixed;
	right: 0;
	left:0;
	bottom:0.1rem; 
	margin: auto;
	z-index: 10;
	box-shadow:1px 1px 10px 0px #ff8d12; 
	/*text-align: center;*/
}
.bottom_zb i{
	font-size: 34px;
	color: #fff;
	float: left;
	margin-left: 0.70rem;
	line-height: 0.92rem;
}
.bottom_zb a{
	font-size: 30px;
	color: #fff;
	font-weight: 700;
	line-height: 0.92rem;	
}