*{
    margin: 0;
    padding: 0;
    list-style: none;
}
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
}
html,body{
    width:100%;
    height:100%;
}
.container{
    width:600px;
    height:400px;
    margin: 0 auto;
}
.container video{
    width:100%;
    height:90%;
    display: block;
}
.controls{
    width:100%;
    height:10%;
    display: flex;
}
.start{
    width:40px;
    height:40px;
    text-align: center; line-height:40px;
    font-size: 30px;
    font-family: "iconfont";
    cursor: pointer;
}
.reload,.fullscreen{
    width: 40px;
    height:40px;
    font-family: "iconfont";
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}
.progress{
    width:auto;
    height:10px;
    background: #ccc;
    flex-grow:1;
    margin-top: 15px;
    border-radius: 10px;
}
.inner{
    width:0;
    height:100%;
    background: red;
    border-radius: 10px;
}
.time{
    width:80px;height: 40px;
    line-height:40px;
    font-size: 12px;
    margin:0 10px;
}
.time span{
    display: block;
    width: 50%;
    height:40px;
    float: left;
}
.volume{
    width: 40px;
    height:40px;
    float: left;
    position: relative;
    cursor: pointer;
}
.volume span{
    width: 40px;
    height:40px;
    display: block;
    font-family: "iconfont";
    line-height: 40px;
    text-align: center;
    font-size: 26px;
    position: relative;
    z-index: 100;
}
.mask{
    width: 40px;
    height:150px;
    position: absolute;
    left:0;
    bottom: 0;
    background: rgba(255,255,255,0.5);
    display: none;
}
.zhezhao{
    width: 40px;
    height:150px;
    position: absolute;
    left:0;
    bottom: 0;
}
.vol{
    width: 10px;
    height:110px;
    background: #ccc;
    margin: 0 auto;
}
.volinner{
    width: 10px;
    height:10px;
    background: #389bff;
    float: left;
}