@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.clear:after{
	content:"";
	display: block;
	width: 0;
	height: 0;
	clear: both;
}
header{
	height: 40px;
	background: #444;
}
.neikuan{
	width: 980px;
	margin: 0 auto;
}
.guanggao{
	float: right;
	line-height: 40px;
	font-size: 12px;
	color: #a8a8a9;
}
nav{
	height: 44px;
	background: #303030;
	overflow: hidden;
}
nav>.neikuan>ul{
	text-align: justify;/*(一行不能分散对齐)*/
}
nav>.neikuan>ul:after{
	content: "";
	display: inline-block;
	width: 100%;
}
nav>.neikuan>ul>li:hover{
	color: #999;
}
nav>.neikuan>ul>li:first-child{
	margin-left: 25px;
	}
nav>.neikuan>ul>li:last-child{
	margin-right: 25px;
}
.col-lg-none{
		display: none!important;
}
.col-lg-inblock{
	display: inline-block!important;
}
nav>.neikuan>ul.iconfont{
	font-size: 18px;
}

nav>.neikuan>ul>li{
	display: inline-block;
	color: #fff;
	line-height: 44px;
	font-size: 12px;
	cursor: pointer;
	vertical-align: middle;
}
nav>.neikuan>ul.iconfont{
	font-size: 18px;
}
.bannerArea{
	height: 550px;
	background:#0a0a0a;
	margin-bottom: 4px;
	position: relative;	
}
.bannerBox{
	width: 100%;
	height: 550px;	
	background-image: url(../img/banner_large.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size:contain;
}
.bannerBox_zi1{
	width: 200px;
	height: 50px;
	font-size: 32px;
	color: #fff;
	font-weight: 500;
	line-height: 50px;
	
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 10px;
	margin: auto;
	
}
.bannerBox_zi2{
	width: 200px;
	height: 50px;
	font-size: 48px;
	color: #fff;
	font-weight: 500;
	margin-left: 10px;
	text-align: center;
	line-height: 50px;
	position: absolute;
	left:50px;
	right: 0;
	top:60px;
	margin: auto;
	
}
.bannerBox_lunbo1{
	width: 50px;
	height: 2px;
	background: #222222;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 40px;
	
}
.bannerBox_lunbo2{
	width: 50px;
	height: 2px;
	background: #222;
	position: absolute;
	left: 55%;
	bottom: 40px;
}
.bannerBox_lunbo3{
	width: 50px;
	height: 2px;
	background: #222; 
	position: absolute;
	right: 55%;
	bottom: 40px;
}
.bannerBox_lunbo1:hover{
	background-color: #808080;
}
.bannerBox_lunbo2:hover{
	background-color: #808080;
}
.bannerBox_lunbo3:hover{
	background-color: #808080;
}

.tupianBox:after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	clear: both;
}
.tupianBox1{
	width: 25%;
	height: 200px;
	float: left;
	background-image: url(../img/1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	/*background-size: auto 200px;*/
	background-clip: content-box;
}
.bottomArea:after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	clear: both;
}
.bottomArea .neikuan{
	padding-right: 25px;
	padding-left: 25px;
	box-sizing:border-box;
}
/*.bottomBox{
	width: 100%;
	padding-right: 25px;
	padding-left: 25px;
	box-sizing:border-box;
}*/
.bottomBox1{
	width: 100%;
	border-bottom: 1px solid #999;
	float: left;
	font-size: 10px;
	color: #888;
	padding-top: 10px;
	padding-bottom: 10px;	
	box-sizing:border-box;
}
.bottomBox2{
	width: 100%;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	box-sizing:border-box;
}
.bottomBox2 ul{
	width: 20%;
	float: left;
}
.bottomBox2 ul li h1{
	font-size: 10px;
	color: #888;
	float: left;
}
.bottomBox2 ul li a{
	font-size: 10px;
	color: #888;
	float: left;
}
.bottomBox3{
	width: 100%;
	float: left;
	border-bottom: 1px solid #999;
	padding-top: 10px;
	padding-bottom: 10px;
	/*padding-left: 25px;
	padding-right: 25px;
	box-sizing:border-box;*/
}
.bottomBox3 a{
	font-size: 10px;
	float: left;
	color: #888;
}
.bottomBox3 span{
	font-size: 10px;
	float: left;
	color: #888;
}
.bottomBox4{
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	box-sizing:border-box;
}
.bottomBox4_1 a{
	font-size: 10px;
	float: left;
	color: #888;
	margin-right: 5px;
}
.bottomBox4_1 span{
	font-size: 10px;
	float: left;
	color: #888;
	margin-right: 10px;
}
.bottomBox4_1 i{
	
	float: left;
	color: #888;
	margin-right: 5px;
}
.bottomBox4_2 a{
	font-size: 10px;
	float: right;
	color: #888;
}
/*中屏*/
@media screen and (max-width: 1068px){
	.neikuan{
		width: 100%;
	}
	.guanggao{
		margin-right: 25px;
	}
	nav>.neikuan>ul>li:nth-child(2){
	margin-left: 25px;
	}
	nav>.neikuan>ul>li:last-child{
	margin-right: 25px;
	}
	.col-md-none{
		display: none!important;
	}
	.col-md-inblock{
		display: inline-block!important;
	}
	.bannerBox{
		width: 100%;
		height: 550px;	
		background-image: url(../img/ibanner_medium.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size:contain;
	}
	.tupianBox1{
		width: 50%;
		background-image: url(../img/6.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		
		margin-bottom: 1px;
	}
	.bannerBox_zi1{
		font-size: 28px;	
	}
	.bannerBox_zi2{
		font-size: 32px;
		position: absolute;
		left:20px;
		right: 0;
		top:60px;
	}
	.bannerBox_lunbo1{
		position: absolute;
		left: 0;
		right: 0;
	}
	.bannerBox_lunbo2{
		position: absolute;
		left: 55%;
		bottom: 40px;
	}
	.bannerBox_lunbo3{
		position: absolute;
		right: 55%;
		bottom: 40px;
	}
	.bottomBox1{
		width: 100%;
		
	}
	.bottomBox2 ul{
		width: 20%;
	}
	.bottomBox3{
		width: 100%;
		
	}
	.bottomBox4{
		width: 100%;
		
	}
}
/*小屏*/
@media screen and (max-width: 735px){
	/*nav>.neikuan>ul>.caidan{
		display: inline-block;
	}*/
	.col-sm-inblock{
		display: inline-block!important;
	}
	.col-sm-none{
		display: none!important;
	}
	nav>.neikuan>ul>li:nth-child(2){
		margin-left: 0px;
	}
	nav>.neikuan>ul>li:last-child{
		margin-right: 25px;
	}
	nav>.neikuan>ul>.main_nav{
		display: none;
	}
	.bannerBox{
		width: 100%;
		height: 420px;	
		background-image: url(../img/banner_small.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size:contain;
	}
	.bannerBox_zi1{
		font-size: 24px;	
	}
	.bannerBox_zi2{
		font-size: 24px;
		position: absolute;
		left:20px;
		right: 0;
		top:60px;
	
	}
	.bannerBox_lunbo1{
		width: 50px;
		height: 2px;
		background: #222222;
		position: absolute;
		left: 0;
		right: 0;
	}
	.bannerBox_lunbo2{
		position: absolute;
		left: 60%;
		bottom: 40px;
	}
	.bannerBox_lunbo3{
		position: absolute;
		right: 60%;
		bottom: 40px;
	}
	.tupianBox1{
		width: 100%;
		background-image: url(../img/7.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size:auto 200px;
		margin-bottom: 1px;
	}
	.bottomBox1{
		width: 100%;
	}
	.bottomBox2 ul{
		width: 100%;
	}
	.bottomBox2 ul li{
		width: 100%;
	}
	.bottomBox2 ul li a{
		display: none;
	}
	.bottomBox2 ul li h1{
		width: 100%;
		height: 25px;
		border-bottom: 1px solid #888;
	}
	.bottomBox2 ul li h1:after{
		content: "+";
		display: block;
		width: 0;
		height: 0;
		clear: both;
		float: right;
		margin-right: 20px;
	}
	br{
		display: none;
	}
	.bottomBox3{
		width: 100%;	
	}
	.bottomBox4{
		width: 100%;
	}
	.bottomBox4_2 a{
		width: 100%;
	}
}
